//图片引用
$imgUrlNav:"../../public/img/nav/";
$imgUrlBack:"../../../public/img/nav/";
$imgUrlLogin:"../../../public/img/login/";
$imgUrl:"../../../public/img/main/";
$imgUrlAdmin:"../../../public/img/admin/";
$imgUrlScore:"../../../public/img/score/";
$imgUrlMaintenance:"../../../public/img/maintenance/";
//登录
$loginBk:"login_bg.jpg";
//导航栏
$logo:"logo.png";
$logout:"logout.png";
$user:"user.png";
$home:"home.png";
$toRight:"toRight.png";
$back:"back.png";
//搜索
$searchImg:"search.png";
//关闭
$close:"close.png";
$close2:"close2.png";
//排序
$sortUp:"sort_up.png";
$sortDown:"sort_down.png";
$sortNormal:"sort_normal.png";
//筛选
$selectNormal:"select_normal.png";
$selectActive:"select_active.png";
//事故统计图表
$in:"in.png";
$out:"out.png";
$incident:"incident.png";
$openIcon:"incident_icon.png";
//状态统计面板
$pullBtn:"pull_btn.png";
//车组面板
$fleet:"fleet.png";
$selected:"selected.png";
//状态列表icon
$play:"play.png";
$stop:"stop.png";
$table:"table.png";
//--------------admin模块-------------
//加号
$add:"add.png";
//tip
$tip:"tip.png";
$adminClose:"close.png";
$export:"export.png";
$geofence:"geofence.png";
$monitor:"monitor.png";
$alarm:"alarm.png";
//--------------score模块-------------
$back:"back.png";
$sortScoreUp:"sort_score_up.png";
$sortScoreDown:"sort_score_down.png";
$sortScoreNormal:"sort_score.png";
//--------------maintenance模块-------------
$detail:"detail_icon.png";
